{{>navbar }}

<div class="container contact">
    <p><span class="label">Email:</span> <a class="email-link" href="mailto:{{email.address}}">{{email.address}}</a></p>
    {{#if socials}}
    <span class="label">Social media:</span>
    {{#each socials}}
    <div class="social">
        <a href={{address}}><i class='{{icon}}'></i></a>
    </div>
    {{/each}}
    {{/if}}
</div>