{{>navbar }}

<div class="projects container">
    {{!-- TODO fix repetition of project markup --}}
    <h1 class="cat">Projects</h1>
    {{#each projects}}
    {{#ifeq released true}}
    {{>project this}}
    {{/ifeq}}
    {{/each}}
    <h1 class="cat">Scripts<span class="slash"></span>Screenplays</h1>
    <h2>Plays</h2>
    {{#each unproduced.plays}}
    {{>unproducedproject this}}
    {{/each}}
    <h2>Films</h2>
    {{#each unproduced.films}}
    {{>unproducedproject this}}
    {{/each}}
    <h2>Episodic</h2>
    {{#each unproduced.episodic}}
    {{>unproducedproject this}}
    {{/each}}
    <h2>Web series</h2>
    {{#each unproduced.webseries}}
    {{>unproducedproject this}}
    {{/each}}


    {{#each projects}}
    {{#ifeq released false}}

    {{/ifeq}}
    {{/each}}







</div>

{{!--
<script>
    var allParas = document.getElementsByTagName('div');
    //filter by class name if desired...
    for (var i = 0; i < allParas.length; i++) {
        if (allParas[i].getElementsByTagName('*').length == 0) {
            allParas[i].style.display = 'none';
        }
    }
</script> --}}