<nav class="navbar initial">
    {{!-- TODO add role --}}
    <i class="hamburger" role="button">
        <span></span>
        <span></span>
        <span></span>
    </i>
    <ul class="links">
        {{# each navLinks}}
        <li>
            <a {{#ifeq ../section key}} class="active link" {{else}} class="link" {{/ifeq}} href="{{ href }}">{{ label
                }}</a>
        </li>
        {{/each}}
    </ul>
</nav>

<script>
    document.querySelector(".hamburger").addEventListener("click", function (e) {
        const parentClassList = e.target.parentNode.classList;
        if (parentClassList.contains("initial")) {
            parentClassList.remove("initial");
            parentClassList.add("expanded");
        } else {
            parentClassList.toggle("expanded");
            parentClassList.toggle("contracted");
        }

    })

</script>