<div class="project unproduced">
    <h2 class="project-title">{{title}}</h2>
    {{#if animated}}<p class="project-medium">Animation</p>{{/if}}
    {{#if description}}
    <div class="description">
        {{{description}}}
    </div>
    {{/if}}
</div>