@keyframes navSlideIn {
    0% {
        height: 0;
    }

    100% {
        height: 100vh;
        background: $color-gray;
    }
}

@keyframes navSlideOut {
    0% {
        height: 100vh;
        background: $color-gray
    }

    100% {
        height: 0;
    }
}

@keyframes colorFadeOut {
    0% {
        color: inherit;
    }

    100% {
        color: transparent;
    }
}

@keyframes colorFadeIn {
    0% {
        color: transparent;
    }

    100% {
        color: inherit;
    }
}