* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    color: $color-default-text;
    background: $color-default-background;
    font-family: $font-default;
    font-size: $font-size-base;
    display: flex;
    max-width: 1000px;
    padding: 50px 30px 0 30px;
    margin: 0 auto;
    height: 100%;
}

.container {
    // border:1px solid lightgray;
    // height: 400px;
    flex-grow: 1;
    padding: 50px 75px;
    overflow-y: auto;
    height: auto;

    p:first-child {
        margin-top: 0;
    }
}

@media (max-width:$screen-md) {
    html, body {
        height:auto;
    }
    .container {
        padding: 20px 0;
        overflow-y: none;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: $font-thin;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}