.contact {
    .label {
        display:block;
        // text-transform: uppercase;
        margin-bottom:10px;

    }
    .social {
        display:inline-block;
        font-size:larger;
        // margin-right:15px;      
  a {
      margin-right:10px;
  }
    }
    i {
        font-size:35px;
    }
    a {
        color:inherit;
    }
}